body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h3 {
  padding-top: 1rem;
  color: #59499E;
}
.h5 {
  color: #59499E;
}
.custom-switch {
  margin: 1rem auto;
}

.icon {
  width: 1.7rem;
}

.img-user {
  width: 3rem;
  margin: 0;
  padding: 0;
}

.row {
  justify-content: center;
  margin: 1rem;
}

.dropdown>a {
  color: white;
}
.dropdown>a:hover {
  color: whitesmoke;
}

.btn-info,.btn-danger {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2rem;
}