body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h3 {
  padding-top: 1rem;
  color: #59499E;
}
h4 {
  color: #FE70A3;
}
h5, .h5 {
  color: #59499E;
}
h6 {
  color: #4F9BC4;
  font-weight: 900;
  margin-right: auto;
}
.custom-switch {
  margin: 1rem auto;
}

.icon {
  width: 1.7rem;
}
.icon-location {
  margin-right: 0.5rem;
}

.img-user {
  width: 3rem;
  margin: 0;
  padding: 0;
}

.row {
  justify-content: center;
  margin: 1rem;
}

.dropdown>a {
  color: white;
}
.dropdown>a:hover {
  color: whitesmoke;
}
.navbar-brand {
  margin-left: 1rem;
}
.btn-info,.btn-danger {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2rem;
}

.DayEventContainer {
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.icon-clock, .icon-location2 {
  float: left;
  width: 3rem;
  margin: 1rem;
}

.event-info {
  display: flex;
  flex-direction: column;
}

.event-detail, .event-description {
  background: white;
  margin: 0.1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.event-description {
  flex-direction: column;
  padding: 1rem;
  text-align: left;
}

span {
  color: #59499E;
  font-weight: 500;
}

p {
  color: #59499E;
}

strong {
  color: #59499E;
  font-weight: 800;
  text-align: left;
}